* {
  margin: 0;
  padding: 0;
  line-height: 130%;
}

.page {
  font-family: Montserrat, sans-serif;
  color: #252525;
}

.page__container {
  padding: 15vh 0;
}

.page__title {
  display: none;
}

.form__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

@media (min-width: 1100px) {
  .form__container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
  }
}

.form__block {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.form__block_side_right {
  justify-content: flex-end;
}

.form__title {
  font-weight: 700;
  font-size: 48px;

  margin-bottom: 20px;
}

.form__subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 60px;
}

.form__input {
  font-weight: 400;
  font-size: 22px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #252525;
  border-left: none;
  margin-bottom: 40px;
  padding-bottom: 12px;
}

.form__fieldset {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  border: none;
}

.form__legend {
  display: block;
}

.form__label {
  display: inline-block;
  margin-top: 20px;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.form__label:hover {
  border-bottom-color: #252525;
}

.form__input_file {
  display: none;
}

.form__select {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #252525;
  border-left: none;
  margin-bottom: 40px;
  padding-bottom: 12px;
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
  position: relative;
}

.form__submit-btn {
  margin-top: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1px solid #252525;
  box-sizing: border-box;
  color: #fff;
  background-color: #252525;
  display: block;
  width: 50%;
  cursor: pointer;
}

.form__submit-btn:hover {
  background-color: #fff;
  color: #252525;
}